  
- name: disabling the default module nodejs version
  ansible.builtin.shell: dnf module disable nodejs -y

- name: Enabling the module nodejs version 20
  ansible.builtin.shell: dnf module enable nodejs:20 -y

- name: Installing nodejs 
  ansible.builtin.package:
    name: nodejs
    state: present

- name: Cleanup the App Directory
  ansible.builtin.file:
    path: "{{APP_PATH}}"
    state: absent
  ignore_errors: true  # optional, in case it doesn't exist (valid only for first time)

- name: Create a App Directory
  ansible.builtin.file:
    path: "{{APP_PATH}}"
    state: directory

- name: Add application user on remote {{ COMPONENT }} server
  ansible.builtin.user:
    name: "{{APP_USER}}"
    state: present

- name: Downloading & unarchiving the "{{COMPONENT}}" Code
  ansible.builtin.unarchive:
    src: "{{ URL }}"
    dest: "{{APP_PATH}}"
    remote_src: yes

- name: Generating node modules
  community.general.npm:
    path: "{{ APP_PATH }}"

- name: configuring {{COMPONENT}} systemd file
  ansible.builtin.template:
    src: catalogue.service
    dest: /etc/systemd/system/{{COMPONENT}}.service

- name: ReStarting "{{COMPONENT}}-{{ENV}}" service
  ansible.builtin.systemd_service:
    name: "{{COMPONENT}}"
    state: restarted
    enabled: true
    daemon_reload: yes
    
- name: Install Pre-req packages for mysql_db
  ansible.builtin.pip:
    name: 
      - PyMySQL
      - cryptography                             # Dependency packages for community.mysql.mysql_db
    executable: pip3.11 


- name: Copying {{COMPONENT}} repo file
  ansible.builtin.template:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: Inject /Load the mysql schema
  community.mysql.mysql_db:
    state: import
    name: all
    target: /app/schema/backend.sql
    login_user: root
    login_password: ExpenseApp@1
    #login_password: "{{PWD}}"
    login_host: mysql-{{ENV}}.devsecopswithshri.site


- name: Restarting "{{COMPONENT}}" 
  ansible.builtin.systemd_service:
    name: nginx
    state: restarted
    enabled: true
    daemon_reload: true