- name: Configuring hostname
  ansible.builtin.shell: set-hostname {{ COMPONENT }}-{{ ENV }}  

- name: disabling the default module nodejs version
  ansible.builtin.shell: dnf module disable nodejs -y

- name: Enabling the module nodejs version 20
  ansible.builtin.shell: dnf module enable nodejs:20 -y

- name: Installing nodejs 
  ansible.builtin.package:
    name: nodejs
    state: present

- name: Cleanup the App Directory
  ansible.builtin.file:
    path: "{{APP_PATH}}"
    state: absent
  ignore_errors: true  # optional, in case it doesn't exist (valid only for first time)

- name: Creating the App Directory
  ansible.builtin.file:
    path: "{{APP_PATH}}"
    state: directory

- name: Add application user on {{ COMPONENT }} server
  ansible.builtin.user:
    name: "{{APP_USER}}"
    state: present

- name: Downloading & unarchiving the {{COMPONENT}} Code
  ansible.builtin.unarchive:
    src: "{{ URL }}"
    dest: "{{APP_PATH}}"
    remote_src: yes

- name: Generating node modules
  community.general.npm:
    path: "{{ APP_PATH }}"

- name: configuring {{COMPONENT}} systemd file
  ansible.builtin.template:
    src: "{{COMPONENT }}.service"
    dest: /etc/systemd/system/{{COMPONENT}}.service
    
# Specific to catalogue    
- name: Copying {{COMPONENT}} repo file
  ansible.builtin.template:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: Installing MongoShell 
  ansible.builtin.dnf:
    name: mongodb-mongosh
    state: present

- name: Inject / Loading Master Data/ app schema
  ansible.builtin.shell: mongosh --host mongodb-{{ ENV }}.devsecopswithshri.site </app/db/master-data.js

- name: ReStarting "{{COMPONENT}}-{{ENV}}" service
  ansible.builtin.systemd_service:
    name: "{{COMPONENT}}"
    state: restarted
    enabled: true
    daemon_reload: yes

